body {
  background: #79c2d0;
  background-attachment: fixed;
}

footer {
  margin: 20px;
  text-align: center;
}

h1 {
  margin: 0px;
  text-align: center;
}
h2 {
  font-size: 27px;
  margin-bottom: 0px;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 1px;
}

select {
  margin-bottom: 10px;
  border-radius: 4px;
}
select,
option {
  font-family: "Poppins", sans-serif;
}

.content {
  max-width: 650px;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);

  background: whitesmoke;

  font-family: "Poppins", sans-serif;
}

.date {
  font-weight: 400;
  margin-bottom: 15px;
}
.time {
  text-align: right;
  font-size: 35px;
}
